includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

    ignoreErrors:
        - '#Property GiacomoMasseroni\\LaravelModelsGenerator\\Commands\\LaravelModelsGeneratorCommand::\$sm with generic class Doctrine\\DBAL\\Schema\\AbstractSchemaManager does not specify its types: T#'
